body {
    background-color: #531010;
}
p,h4,h2,h3{
	text-align: center;
}
header {
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0px;
    background: #b8b5b3;
}
nav{
	width: 60%;
	margin-left: 22%;
}
header img {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
h2{
	font-size: 40px;
}
h4{
	font-size: 25px;
}
.header_image {
	width: 60%;
}
.header_image p{
	text-align: center;
}
nav li{
    display: inline;
}
ul {
    color: #ffffff;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;	/*Change*/
}

li {
    margin-right: 20px;
}
/* Change the link color to #111 (black) on hover */
a li:hover {
    color: black;
    background-color: white;
}
.fack {
	width: 70%;
	margin-left: 17%;
    margin-top: 15px; 
    background-color: #867465;
}
.photo{
	width:380px;
	margin-right: 15px;
	margin-left: 15px;
	padding-top: 15px;
}
.introduction{
	font-size: 20px;
}
article p{
	text-align: center;
}
a{
	text-align: center;
	color: black;
	text-decoration: none;
	font-size: 20px;
}
.damn{
	width: 70%;
	margin-left: 17%;
    margin-top: 15px;
    padding-top: 25px;
    padding-bottom: 10px; 
    background-color: #867465;
}
footer{
    text-align: center;
    color: white;
    background-color: #733030;
    height: 100px;
}
footer p{
	margin-top:30px;
	padding-top: 30px;
}
.son{
	width: 70%;
	margin-left: 17%;
    margin-top: 15px; 
    background-color: #867465;
}